/**************************************************/
/*                                   Body and Wrapper                             */
/**************************************************/

body {
	background: #000099 url('IMAGES/back.png') repeat-x top center;
	margin: 0;
	padding: 0;
	text-shadow: 111;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-style: normal;
	line-height: 13pt;
	font-weight: normal;
	font-variant: normal;
}

#wrapper {
margin: 0 auto;
width: 800px;
padding: 0;
text-align: left;
}

/**************************************************/
/*                                       Top Piece                                        */
/**************************************************/

#top {
background: url('IMAGES/bgtop.png') no-repeat top center;
width: 800px;
height: 78px
}

/**************************************************/
/*                                       Content                                             
another wrapper that holds all the content                              */
/**************************************************/

#content {
	width: 766px;
	height: 100%;
	background-image: url('IMAGES/bgmiddle.png');
	background-repeat: repeat-y;
	background-position:  center 50%;
	overflow: hidden;
	background-color: #000099; padding-left:17px; padding-right:17px; padding-top:0px; padding-bottom:0px
}

/**************************************************/
/*                               All the content                                        */
/**************************************************/

#header {
background: url('IMAGES/header.png') no-repeat top center;
width: 746px;
height: 106px;
color: white;
font-size: 50px; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:10px; padding-left:20px; padding-right:0px; padding-top:60px; padding-bottom:0px
}
/*                    Menu                   */
#menu {
	width: 200px;
	height: 30px;
	margin-left: 20px;
	float: left;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: oblique;
	line-height: normal;
	color: #FF0000;
	font-weight: bolder;
	position: static;
}

#menu li a {
	height: 29px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 29px;
	text-decoration: none;
}	
	
#menu li a:link, #menu li a:visited {
color: navy;
display: block;
background:  url('IMAGES/off.png') no-repeat top center;
height: 29px; padding-left:10px; padding-right:0; padding-top:8px; padding-bottom:0
}
	
#menu li a:hover {
color: red;
background:  url('IMAGES/on.png') no-repeat top center;
height: 29px; padding-left:10px; padding-right:0; padding-top:8px; padding-bottom:0
}	
/*                    Right Menu                   */
#menu_right {
	width: 200px;
	height: auto;
	float: right;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: oblique;
	line-height: normal;
	color: #FF0000;
	font-weight: bolder;
	position: relative;
	margin-right: 20px;
	bottom: auto;
	top: 110px;
}

#menu_right li a {
height: 29px;
voice-family: "\"}\""; 
voice-family: inherit;
height: 29px;
text-decoration: none;
}	
	
#menu_right li a:link, #menu_right li a:visited {
color: navy;
display: block;
background:  url('IMAGES/off.png') no-repeat top center;
height: 29px; padding-left:10px; padding-right:0; padding-top:8px; padding-bottom:0px
}
	
#menu_right li a:hover {
color: red;
background:  url('IMAGES/on.png') no-repeat top center;
height: 29px; padding-left:10px; padding-right:0; padding-top:8px; padding-bottom:0
}	


ul {
list-style: none;
margin: 0;
padding: 0;
text-align: left;
}

img {
border: none;
} 

/**************************************************/
/*                                       Bottom                                             */
/**************************************************/

#bottom {
background: url('IMAGES/bgbottom.png') no-repeat bottom center;
width: 800px;
height: 50px
}
#TOCtext {
	width: 726px;
	border: 2px navy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	list-style-position: inside;
	list-style-type: none;
	font-style: normal;
	line-height: normal;
	margin-left: 20px;
	margin-top: 0px;
	padding-top: 25px;
}
#wrapper #content #TOCtext .Theme {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
}

#text {
	width: 726px;
	padding-top: 55px;
	border: 2px none navy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	list-style-position: inside;
	list-style-type: none;
	font-style: normal;
	background-image: url('IMAGES/texttop.png');
	background-repeat: repeat-x;
	background-position: left top;
	text-indent: 30px;
	text-align: justify;
	text-decoration: none; margin-left:20px; margin-right:0px; margin-top:0px; margin-bottom:0px
}
#wrapper #content #text .Titles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0000FF;
}
#wrapper #content #text .FixedItem {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #003366;
	text-shadow: #000000;
	filter: DropShadow(Color=#00FF00, OffX=1, OffY=1);
	font-weight: bold;
}

#wrapper #content #text .L1Item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #003366;
	text-shadow: #000000;
	filter: DropShadow(Color=#00FF00, OffX=1, OffY=1);
	font-weight: bold;
	left: 20px;
	padding-left: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #content #text .B1Item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-shadow: #0000FF;
	filter: DropShadow(Color=#00FF00, OffX=1, OffY=1);
	font-weight: normal;
	left: 100px;
	padding-left: 30px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	list-style-image: url('IMAGES/Bulet2.png');
	border-top-color: #00FF00;
	border-right-color: #339900;
	border-bottom-color: #FF3300;
	border-left-color: #CC3300;
	list-style-position: inside;
	text-align: justify
}
#wrapper #content #text .REMARK {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000066;
	font-style: italic;
}
#wrapper #content #text .L2Item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-shadow: #000000;
	filter: DropShadow(Color=#00FF00, OffX=1, OffY=1);
	font-weight: bold;
	left: 20px;
	padding-left: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #00FF00;
}
#wrapper #content #text .B2Item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-shadow: #0000FF;
	filter: DropShadow(Color=#00FF00, OffX=1, OffY=1);
	font-weight: bold;
	left: 100px;
	padding-left: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	list-style-image: url('IMAGES/bulet1.png');
	border-top-color: #00FF00;
	border-right-color: #339900;
	border-bottom-color: #FF3300;
	border-left-color: #CC3300;
	list-style-position: inherit;
	text-indent: 10px
}
#wrapper #content #TOCtext .section {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0000CC;
	font-weight: bold;
	text-indent: 100px;
}
#wrapper #content #TOCtext .subsection {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0000CC;
	font-weight: bold;
	text-indent: 200px;
}
#wrapper #content #TOCtext .subsection a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0000CC;
	font-weight: bold;
}
#wrapper #content #TOCtext .subsection a:hover {
	font-size: 14px;
	color: #0000CC;
	font-weight: bold;
	cursor: default;
	border: thin groove #999999;
	background-color: #FFFFFF;
}
#wrapper #content #TOCtext .subsection a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0000CC;
	font-weight: bold;
}
#wrapper #content #TOCtext .section a {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0000CC;
	font-weight: bold;
}
#wrapper #content #TOCtext .section a:hover {
	color: #0000FF;
	font-weight: bold;
	cursor: default;
	border: thin groove #999999;
	background-color: #FFFFFF;
}
#wrapper #content #TOCtext .section a:visited {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0000CC;
	font-weight: bold;
}
